@charset "utf-8"
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap')

@import "../../../node_modules/bulma/sass/utilities/initial-variables"
@import 'mapsi-colours'
@import 'bulma_overrides'

body
    .navbar-item
        padding-left: 1.5rem
        padding-right: 1.5rem

        &:hover
            background-color: $mapsi-darkblue !important
            color: $mapsi-white !important
        
        &.active-page
            background-color: $mapsi-grey
            color: $mapsi-blue

    .has-no-bottom-padding
        padding-bottom: 0rem !important

    .has-mapsi-padding-small
        padding-top: 2.5rem
        padding-bottom: 2.5rem

        @media (max-width: $tablet)
            padding-bottom: 0.5rem

    .has-mapsi-padding
        padding-top: 5rem
        padding-bottom: 5rem

        @media (max-width: $tablet)
            padding-bottom: 1rem

        h2
            font-weight: medium

    .hero.is-medium
        .hero-body
            padding-bottom: 12.5rem
            padding-top: 12.5rem
        
            h2
                font-size: $size-5

    h1
        font-family: 'Ubuntu', sans-serif

    h1::selection
        background-color: $mapsi-lightblue
        color: $mapsi-white

    p::selection, li::selection
        background-color: $mapsi-lightorange
        color: $mapsi-white

        font-family: 'Ubuntu', sans-serif

    .custom-hero-background
        background: url('/static/img/HomePage_bg.png')
        background-size: cover
        background-position: bottom
        padding-bottom: 5rem
        
        @media (max-width: $desktop)
            background-size: cover
        
        h1
            color: $mapsi-lightorange
            padding: 2rem
            
            @media (max-width: $tablet)
                font-size: 2rem !important
        h2
            @media (max-width: $tablet)
                font-size: 1rem !important
                


    .content
        padding-bottom: 3em

        h1:first-child
            background-color: $mapsi-darkblue
            color: $mapsi-white
            padding-bottom: 1em
            padding-top: 1em

    .what-we-do

        .what-we-do-card
            padding: 3rem
            border-radius: 15px

            .column
                background-color: $mapsi-grey

            h3
                font-weight: medium
                padding-bottom: 0.75rem
            img
                max-height: 150px
                padding: 12px
                margin-top: 6px
        
    img.what-we-do-icon
        height: 128px
        width: 128px

    .insights
        text-transform: uppercase
        color: $mapsi-darkblue
        overflow: auto

    .dundee-picture

        img
            max-width: 100%
            max-height: 100%
            width: 100%
            height: 100%

    .postlisting
        padding-bottom: 1em
        padding-top: 1em
        color: $mapsi-black
        a
            color: $mapsi-darkorange

    .postlisting:nth-child(2)
        background-color: $mapsi-lightblue
        color: $mapsi-white
        a
            color: $mapsi-lightorange

    
    .button.mapsi
        background-color: $mapsi-darkblue
        color: $mapsi-white
        border-radius: 10px
        font-size: $size-6
        padding-left: 2rem
        padding-right: 2rem
        text-transform: uppercase

        &:hover
            background-color: $mapsi-lightblue 

    .blog-card-image
        height: 300px
        
        img       
            object-fit: cover
        
        

.has-top-rounded-corners
    border-top-left-radius: 5px
    border-top-right-radius: 5px

.has-bottom-rounded-corners
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px

.no-margin-bottom
    margin-bottom: 0px !important

.line-height
    line-height: 2

.small-header
    img
        display: block
        max-height: 650px
        width: auto !important

.sticky
    position: -webkit-sticky
    position: sticky
    top: 30px
    
.about-us-card
    max-width: 305px
    width: auto
    height: auto
    display: inline-flex
    justify-content: center
    margin: auto !important

     
@import "../../../node_modules/bulma/bulma"