<footer class="footer">
    <div class="columns has-text-centered">
        <div class="column is-4">
            <div class="column is-paddingless is-full has-text-centered">
                {# <a href="https://abertay.ac.uk">
                    <img src="/static/img/Abertay_mw400px.png" alt="Abertay University Logo">
                </a> #}
            </div>

        </div>
        <div class="column is-4">
            <div class="column is-paddingless is-full has-text-centered">
                {# <a href="https://www.dcthomson.co.uk/partners/">
                    <img src="/static/img/NCT_logo400px.png" alt="Northwood Trust Logo">
                </a> #}
                </div>
            </div>
            {# <div class="column is-4">Column content</div> #}
        </div>
    </footer>