{% macro blog_card(title, url, image) %}
    <div class="column is-narrow what-we-do-card is-one-third-desktop is-full-mobile">
        <a href="{{url}}">
            <div class="columns is-paddingless is-marginless is-multiline">
                <div class="column is-flex is-paddingless is-marginless is-full has-top-rounded-corners">
                    <img class="has-top-rounded-corners" src="{{ image }}"></img>
                    </div>
                    <div class="column is-full has-bottom-rounded-corners has-background-mapsi-darkblue has-text-mapsi-white">
                <h3>{{ title }}</h3>
            </div>
        </div>
        </a>
    </div>
{% endmacro %}

{% macro about_us_card(name, title, url, image, id) %}
    <div class="column is-centered is-one-third-desktop is-full-mobile ">
        {% if url != "#" %}
        <a href="{{url}}">
        {% endif %}
            <div class="about-us-card columns is-mobile is-centered is-multiline">
                <div class="column is-full-desktop is-flex is-paddingless is-centered is-marginless is-full has-top-rounded-corners">
                    <img {% if id %} id="{{id}}" {% endif %} class="has-top-rounded-corners" src="{{ image }}">
                    </div>
                    <div class="column is-full has-bottom-rounded-corners has-background-mapsi-darkblue has-text-mapsi-white">
                <p class="has-text-centered is-uppercase has-text-weight-medium">{{ name }}<p>
                <p class="has-text-centered">{{ title }}</p>
            </div>
        </div>
        {% if url != "#" %}
        </a>
        {% endif %}
    </div>
{% endmacro %}

{% macro page_title(title) %}
    <div class="content columns is-marginless is-paddingless">
        <div class="column is-paddingless is-full">
            <h1 class="is-size-1 has-text-centered">{{ title }}</h1>
        </div>
    </div>
{% endmacro %}

{% macro about_us_section(id, odd, title, image_url, content) %}
<section id="{{ id if id else '' }}" class="section {{ 'has-background-mapsi-white' if odd else 'has-background-mapsi-grey' }}">
    <div class="container content">
        <h2 class="has-text-centered is-size-4 is-uppercase">{{title}}</h2> 
        <div class="columns is-centered is-vcentered">
        {%if odd %}            
            <div class="column is-offset-1 is-vcentered">
                {{ content | safe  }}
            </div>            
            <div class="column is-offset-1">
                <figure class="image is-256x256">
                    <img class="image" src="{{image_url}}" alt="" srcset="">
                </figure>
            </div>
        {% else %}
            <div class="column is-offset-1">
                <figure class="image is-256x256">
                    <img class="image" src="{{image_url}}" alt="" srcset="">
                </figure>
            </div>        
            <div class="column is-offset-1 is-vcentered">
                {{ content | escape }}
            </div>
        {% endif %}
        </div>
    </div>
</section>
{% endmacro %}