{% macro blog_card(title, url, image) %}
    <div class="column is-narrow what-we-do-card is-one-third-desktop is-full-mobile">
        <a class="bloglisting-url" href="{{url}}">
            <div class="columns is-paddingless is-marginless is-multiline bloglisting-container">
                <div class="column blog-card-image is-flex is-paddingless is-marginless is-full has-top-rounded-corners bloglisting-image-container">
                    <img class="has-top-rounded-corners" src="{{ image }}">
                </div>
                <div class="column is-full has-bottom-rounded-corners has-background-mapsi-darkblue has-text-mapsi-white bloglisting-title-container">
                <h3>{{ title }}</h3>
                </div>
            </div>
        </a>
    </div>
{% endmacro %}

{% macro about_us_card(name, title, url, image, id) %}
    <div class="column is-centered is-one-third-desktop is-full-mobile ">
        {% if url != "#" %}
        <a href="{{url}}">
        {% endif %}
            <div class="about-us-card columns is-mobile is-centered is-multiline">
                <div class="column is-full-desktop is-flex is-paddingless is-centered is-marginless is-full has-top-rounded-corners">
                    <img {% if id %} id="{{id}}" {% endif %} class="has-top-rounded-corners" src="{{ image }}">
                    </div>
                    <div class="column is-full has-bottom-rounded-corners has-background-mapsi-darkblue has-text-mapsi-white">
                <p class="has-text-centered is-uppercase has-text-weight-medium">{{ name }}<p>
                <p class="has-text-centered">{{ title }}</p>
            </div>
        </div>
        {% if url != "#" %}
        </a>
        {% endif %}
    </div>
{% endmacro %}

{% macro page_title(title) %}
    <div class="content columns is-marginless is-paddingless">
        <div class="column is-paddingless is-full">
            <h1 class="is-size-1 has-text-centered">{{ title }}</h1>
        </div>
    </div>
{% endmacro %}

{% macro taglist(tags) %}
    {% for tag in tags %}
        {%- if tag != "post" -%}
        <span>                      
            <a href="/tags/{{tag}}">
                <span class="tag">{{ tag }}</span>
            </a>
        <span>
        {%- endif -%}
    {% endfor %}
{% endmacro %}