
{% extends 'layouts/base.njk' %}
{% import "../components/macros/macros.njk" as macros %}

{% block content %}    

    {{ macros.page_title(title) }}

    <section class="section">
        <div class="container">
            <div class="columns is-multiline" >

                {% if collection == "dundee" %}
                    {% set postslist = collections.dundee %}
                {% elif collection == "resource" %} 
                    {% set postslist = collections.resources %}    
                {% else %}
                    {% set postslist = collections.posts %}                   
                {% endif %}

                {% include "components/postslist.njk" %}         
                                   
            </div>
        </div>
    </section>

{% endblock %}