---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---

<div class="content columns is-marginless is-paddingless">
    <div class="column is-paddingless is-full">
        <h1 class="is-size-1 has-text-centered">{{ title }}</h1>
    </div>
</div>

<section class="section">
    <div class="container">



            <div class="columns is-mobile is-centered" >
                <div class="column is-half">
                    {% set postslist = collections.posts %}            
                    {% include "components/postslist.njk" %}  
                    {{ layoutContent | safe }}                                 
                </div>
            </div>
    </div>
</section>
