{% extends 'layouts/base.njk' %}
{% import "../components/macros/macros.njk" as macros %}

{% block content %}

    {{ macros.page_title(title) }}

    <div class="container">
        <div class="content">
            <div class="columns">
                <div class="column has-text-justified">{{ layoutContent | safe }}</div>
                <div class="column">
                    {% include "components/form.njk" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}