{% extends 'layouts/base.njk' %}
{% import "../components/macros/macros.njk" as macros %}

{% block content %}

{{ macros.page_title(title) }}

<section class="section">
    <div class="container">
        <div class="content">
            <div class="columns is-centered">
                
                <div class="column is-half-desktop is-full-mobile ">
                    {% include "components/form.njk" %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}