---
layout: layouts/base.njk
section: home
---

{# Hero image #}

<section class="hero is-large custom-hero-background">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="is-size-1 title">
        {# FIXME: Get this from a data file #}
        Mapping for Social Innovation
      </h1>
      <h2 class="subtitle">
        {# FIXME: Get this from a data file #}
        Exploring existing social needs and providing user-driven innovation solutions
      </h2>
    </div>
  </div>
</section>

{# Down arrow 
  TODO: Make this clickable?
#}

<section class="section">
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
        <img src="/static/img/arrow-down-sign-to-navigate.png">
      </div>
    </div>
  </div>
</section>

{# What we do section #}
<section class="section what-we-do">
  <div class="container">

    {# What we do header #}
    <div class="columns is-vcentered has-text-centered">
      <div class="column">
        <h2 class="is-size-5 has-text-weight-medium is-uppercase has-text-mapsi-darkblue" >What we do</h2>
      </div>
    </div>

    <div class="columns has-text-centered">

      <div class="column is-narrow what-we-do-card is-one-third-desktop">
        <div class="columns is-paddingless is-marginless is-multiline">
          <div class="column is-full has-top-rounded-corners">
            <img src="/static/img/qualitative-research.png">
          </div>
          <div class="column is-full has-bottom-rounded-corners">
            <h3>Qualitative Mapping of Needs</h3>
          </div>
        </div>
      </div>

      <div class="column is-narrow what-we-do-card is-one-third-desktop">
        <div class="columns is-paddingless is-marginless is-multiline">
          <div class="column is-full has-top-rounded-corners">
            <img src="/static/img/laptop.png">
          </div>
          <div class="column is-full has-bottom-rounded-corners">
            <h3>Data Mapping and result visualisation</h3>
          </div>
        </div>
      </div>

      <div class="column is-narrow what-we-do-card is-one-third-desktop">
        <div class="columns is-paddingless is-marginless is-multiline">
          <div class="column is-full has-top-rounded-corners">
            <img src="/static/img/teamwork.png">
          </div>
          <div class="column is-full has-bottom-rounded-corners">
            <h3>Ideas generation and co-design</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-8 has-text-centered">
      <div class="column">
        <a class="button is-medium is-uppercase">Explore</a>
      </div>
    </div>

  </div>
</section>

{# INSIGHTS header #}
<section class="section insights">
  <div class="container">
    <div class="columns is-paddingless has-text-centered is-multiline">
      <div class="column has-background-mapsi-grey is-full">
        <h2>Insights</h2>
      </div>
      <div class="column is-inline-flex is-paddingless is-marginless">

        <img src="https://miro.medium.com/max/3840/1*a7lH8GwGgmOUX8vWnIG2mw.png"></img>
        &nbsp;

      </div>
    </div>
  </div>
</section>

{# DUNDEE PICTURE #}

<section class="section dundee-picture">
  <div class="container">

    {# Dundee picture header #}
    <div class="columns is-vcentered has-text-centered">
      <div class="column">
        <h2 class="is-size-5 has-text-weight-medium is-uppercase has-text-mapsi-darkblue">Dundee picture</h2>
      </div>
    </div>

    <div class="columns has-text-centered">

      <div class="column is-narrow what-we-do-card is-one-third-desktop is-full-mobile">
        <div class="columnsis-paddingless is-marginless is-multiline">
          <div class="column is-flex is-paddingless is-marginless is-full has-top-rounded-corners">
            <img class="has-top-rounded-corners" src="/static/img/placeholder/data_idea.jpg"></img>
          </div>
          <div class="column is-full has-bottom-rounded-corners has-background-mapsi-darkblue has-text-mapsi-white">
            <h3>Qualitative Mapping of Needs</h3>
          </div>
        </div>
      </div>

      <div class="column is-narrow what-we-do-card is-one-third-desktop is-full-mobile">
        <div class="columns is-paddingless is-marginless is-multiline">
          <div class="column is-flex is-paddingless is-marginless is-full has-top-rounded-corners">
            <img class="has-top-rounded-corners" src="/static/img/placeholder/data_idea.jpg"></img>
          </div>
          <div class="column is-full has-bottom-rounded-corners has-background-mapsi-darkblue has-text-mapsi-white">
            <h3>Data Mapping and result visualisation</h3>
          </div>
        </div>
      </div>

      <div class="column is-narrow what-we-do-card is-one-third-desktop is-full-mobile">
        <div class="columns is-paddingless is-marginless is-multiline">
          <div class="column is-flex emptyimagecontainer is-paddingless is-full has-top-rounded-corners">
            <img class="has-top-rounded-corners" src="/static/img/placeholder/data_idea.jpg"></img>
          </div>
          <div class="column is-full has-bottom-rounded-corners has-background-mapsi-darkblue has-text-mapsi-white">
            <h3>Ideas generation and co-design</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-8 has-text-centered">
      <div class="column">
        <a class="button is-medium is-uppercase">Explore</a>
      </div>
    </div>

  </section>

  <section class="section contactform has-background-mapsi-white">
    <div class="columns is-centered is-vcentered">
      <div class="column has-text-centered is-4">
      <h2 class="is-size-5 has-text-weight-medium is-uppercase has-text-mapsi-darkblue">Contact us</h2> <br/>
      {% include "components/form.njk" %}
      </div>
    </div>

  </section>