
{% extends 'layouts/base.njk' %}
{% import "../components/macros/macros.njk" as macros %}

{% block content %}    

<article>
  {# Title #}
  <div class="content columns is-marginless is-paddingless no-margin-bottom">
      <div class="column is-paddingless is-full no-margin-bottom">
          <h1 class="is-size-1 has-text-centered no-margin-bottom">{{ title }}</h1>
      </div>
  </div>
  <figure class="image"><img src="{{ image }}" alt=""></figure>
  <section class="section content">
      <div class="container">
          <div class="columns">
              <div class="column is-full-mobile is-3 post-details">
                <p>
                  <span class="author">Author: <b>{{ author.name }}</b></span>
                </p>
                <p>
                  <span class="posted">Posted: <b><time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time></b></span>
                </p>
                <p>
                {% if tags %}
                <p class="tags">                
                    {% for tag in tags %}
                      {%- if tag != "post" -%}                        
                        <span class="tag">{{ tag }}</span>
                      {%- endif -%}
                    {% endfor %}               
                </p>
                {% endif %}
              </div>            
              <div class="column is-full-mobile is-7 has-text-justified is-centered">
                  {{ layoutContent | safe }}

 
              </div>
          </div>
      </div>
  </section>
</article>

{% endblock %}